[submodule "Simple_Prompt_Generator"]
	path = Simple_Prompt_Generator
	url = https://github.com/WiNE-iNEFF/Simple_Prompt_Generator
[submodule "Art-Prompt-Generator"]
	path = Art-Prompt-Generator
	url = https://github.com/marikodes/Art-Prompt-Generator
[submodule "noodle-soup-prompts"]
	path = noodle-soup-prompts
	url = https://github.com/WASasquatch/noodle-soup-prompts
[submodule "PromptPapers"]
	path = PromptPapers
	url = https://github.com/thunlp/PromptPapers
[submodule "gpt-scrolls"]
	path = gpt-scrolls
	url = https://github.com/maraoz/gpt-scrolls
[submodule "structured-prompt-generator"]
	path = structured-prompt-generator
	url = https://github.com/Skquark/structured-prompt-generator
[submodule "Creative-Writing-Prompt-Generator"]
	path = Creative-Writing-Prompt-Generator
	url = https://github.com/tedible/Creative-Writing-Prompt-Generator
[submodule "python_prompt_generator"]
	path = python_prompt_generator
	url = https://github.com/Shreya-M03/python_prompt_generator
[submodule "personalized-catchphrase-generator"]
	path = personalized-catchphrase-generator
	url = https://github.com/vnguye34/personalized-catchphrase-generator
[submodule "PromptGenerator"]
	path = PromptGenerator
	url = https://github.com/Cfhhunt/PromptGenerator/
[submodule "drawing-prompt"]
	path = drawing-prompt
	url = https://github.com/vegard/drawing-prompt
